.my-class {
  background-color: #ff0000;
  margin-top: 10px;
}

.board {
  background-color: #95E7E8;
  border-radius: 10px;
  margin: 5px;
}

.board-title {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  border-bottom: 1px solid black;
}

.board-desc {
  height: 5em;
}

.blist-title, .slist-title {
  display: inline-block;
}

.refresh {
  display: inline-block;
  float: right;
}

.stack {
  border-radius: 10px;
  background-color: #92E8BD;
  margin: 5px;
}

.stack-title {
  display: inline-block;
  color: black;
  padding-bottom: 3px;
  width: 100%;
  border-bottom: 1px solid black;
}

.stack-edit-icon {
  display: inline-block;
}

.board:hover {
  cursor: pointer;
  background-color: #286F70;
}

#board-new:hover {
  cursor: pointer;
  background-color: #286F70;
}

#add-board-name {
  margin-bottom: 1em;
}

.nav-stacks {
  display: none;
}

.card {
  background-color: white;
  margin-bottom: 3px;
}

.card:hover {
  cursor: pointer;
  background-color: #139E77;
}

.card-edit-icon {
  font-size: 0.7em;
  float: left;
}

.card-modified {
  font-size: 0.7em;
  float: right;
}

#sh-errors {
  display: none;
}

#sh-success {
  display: none;
}

#sh-info {
  display: none;
}

#sh-warning {
  display: none;
}

#stack-new:hover {
  cursor: pointer;
  background-color: #4B9E13;
}

#article-body {
  background-color: #C8F7EA;
}

#new-card {
  background-color: #F0E8C5;
}

#new-card:hover {
  cursor: pointer;
  background-color: #C5CDF0;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 530px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#login-errors {
  display: none;
}

#login-success {
  display: none;
}
